.classContainer{
    width:100%;
    max-width: 100%;
    min-height: 15rem;
    border-radius:10px;
    background-color: grey;
    margin: 5px;
    padding: 10px;
    
}

.row-1:before,
.row-1:after {
    border-radius: 10px;
    clear:both;
    min-height: 10rem;
    padding: 5px;
    margin: 5px;
}

.col-4{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width:40%;
    /* max-height: 230px; */
    background-color: #FBC02D;
}
.col-5{
    padding: 5x;
    margin:5px;
    border-radius: 10px;
    width: 25%;
    /* max-height: 230px; */
    background-color: #FBC02D;
}

.col-6{
    padding: 5x;
    margin:5px;
    border-radius: 10px;
    width: 110%;
    /* max-height: 230px; */
    background-color: #FBC02D;
}

.classH2 {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width:50%;
    background-color: #FBC02D;
}

.studentList {
    background-color: #FBC02D;
    
}

.sList {
    padding: 20px;
}

Button{
    
    display: block;
    padding: 5px;
    border: 3px solid grey;
    margin: 5px;
    border-radius: 10px;
    color:white;
    background-color: grey;
}
input{
    display:inline;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 80px;
}
label{
    display:inline;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.display-none{
    display: none;
}
.display-block{
    display: block;
}

