.container {
    min-width: 75%;
    max-width: 100%;
    background-color: #eedaa9;
    min-height: 100vh;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
    min-height: 100vh;
}

[class*='col-'] {
    float: left; 
    min-height: 1px; 
    min-width: 25.00%;
    max-width: 100%; 
    /*-- our gutter -- */
    padding: 12px; 
    background-color: rgb(255, 252, 220);
}

.col-1{
    min-width: 25.00%;
    max-width: 25%;
    background-color: pink;
}
.col-2{
    min-width: 50%; 
    max-width: 50%;
}
.col-3{
    min-width: 75%;
    max-width: 75%; 
}
.col-4{
    min-width: 100%;
    max-width: 100%;
}


.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}
.attendance {
    width: 100px;
    height: 100px;
    font-size: 1.1em;
    color: black;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: grey;
}

.attendance h2 {
    padding: 20px;
    padding-left: 10px;
}
