
.attendance {
    width: 100px;
    height: 100px;
    font-size: 1.1em;
    color: black;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: grey;
}

.attendance h2 {
    padding: 20px;
    padding-left: 10px;
}

.studentLists {
    margin: 20px;
}
